In [3]:
import pandas as pd

from tensorflow.keras.models import Sequential # Camadas sequencial
from tensorflow.keras.layers import Dense # Camadas da rede

In [95]:
df = pd.read_csv('autos.csv', encoding='ISO-8859-1')

In [96]:
df.dropna(inplace=True)

In [88]:
from sklearn.preprocessing import LabelEncoder

In [99]:
df['model'] = LabelEncoder().fit_transform(df['model'])

In [100]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,118,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,103,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,11,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,8,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,VW_Derby_Bj_80__Scheunenfund,privat,Angebot,0,test,limousine,1980,manuell,50,40,40000,7,benzin,volkswagen,nein,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371520,2016-03-19 19:53:49,turbo_defekt,privat,Angebot,3200,control,limousine,2004,manuell,225,142,150000,5,benzin,seat,ja,2016-03-19 00:00:00,0,96465,2016-03-19 20:44:43
371521,2016-03-27 20:36:20,Opel_Zafira_1.6_Elegance_TÜV_12/16,privat,Angebot,1150,control,bus,2000,manuell,0,249,150000,3,benzin,opel,nein,2016-03-27 00:00:00,0,26624,2016-03-29 10:17:23
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,108,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,224,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,148,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [55]:
df['name'].value_counts()

Ford_Fiesta                                          657
BMW_318i                                             627
Opel_Corsa                                           622
Volkswagen_Golf_1.4                                  603
BMW_316i                                             523
                                                    ...
Vw_golf2_""nur_heute""_sofort_abholen                  1
BMW_318d_Turing_mit_M_Packet                           1
VW_Golf_V_5___Automatik__Tempomat__Standheizung        1
Daimlerchrysler_E200                                   1
Suzuki_Jimny_Automatik_Comfort_4x4__AHK__28000_km      1
Name: name, Length: 233531, dtype: int64

In [56]:
df['seller'].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [57]:
df['offerType'].value_counts()

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [58]:
# Atributos irrevelantes
df.drop(columns=['dateCrawled', 'dateCreated', 'nrOfPictures','postalCode', 'lastSeen', 'name','seller','offerType'], axis=1, inplace=True)

In [59]:
# Valores incossistentes
i1 = df.loc[df.price <=10].index
df = df.loc[df.price >=10]
i2 = df.loc[df.price > 350000]
df = df.loc[df.price < 350000]

In [60]:
df.loc[df.price > 350000]

Empty DataFrame
Columns: [price, abtest, vehicleType, yearOfRegistration, gearbox, powerPS, model, kilometer, monthOfRegistration, fuelType, brand, notRepairedDamage]
Index: []

In [61]:
# Valores nulos
df.loc[df.vehicleType.isnull()]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [62]:
df.vehicleType.value_counts() # Limousine

limousine     93621
kleinwagen    78025
kombi         65933
bus           29701
cabrio        22511
coupe         18388
suv           14478
andere         3125
Name: vehicleType, dtype: int64

In [63]:
df.loc[df.gearbox.isnull()]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [64]:
df.gearbox.value_counts() # manuell

manuell      266580
automatik     75511
Name: gearbox, dtype: int64

In [65]:
df.loc[df.model.isnull()]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [66]:
df.model.value_counts() # golf

golf               28997
andere             25565
3er                19906
polo               12605
corsa              12152
                   ...
serie_2                8
rangerover             6
serie_3                3
discovery_sport        1
serie_1                1
Name: model, Length: 251, dtype: int64

In [67]:
df.loc[df.fuelType.isnull()]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [68]:
df.fuelType.value_counts() # benzin

benzin     217616
diesel     106009
lpg          5222
cng           558
hybrid        271
andere        165
elektro       101
Name: fuelType, dtype: int64

In [69]:
df.loc[df.notRepairedDamage.isnull()]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [70]:
df.notRepairedDamage.value_counts() # nein

nein    259310
ja       34016
Name: notRepairedDamage, dtype: int64

In [71]:
valores = {'vehicleType':'limousine',
           'gearbox':'manuell',
           'model':'golf',
           'fuelType':'benzin',
           'notRepairedDamage':'nein'}
df.fillna(value=valores, inplace=True)

In [72]:
# TRansformando os dados categoricos em numericos
x = df
x = pd.concat([x, pd.get_dummies(df['abtest'], prefix='abtest')], axis=1)
x.drop('abtest', axis=1, inplace=True)

In [73]:
x = pd.concat([x, pd.get_dummies(df['vehicleType'], prefix='vehicleType')], axis=1)
x.drop('vehicleType', axis=1, inplace=True)

In [74]:
x = pd.concat([x, pd.get_dummies(df['gearbox'], prefix='gearbox')], axis=1)
x.drop('gearbox', axis=1, inplace=True)

In [75]:
x = pd.concat([x, pd.get_dummies(df['model'], prefix='model')], axis=1)
x.drop('model', axis=1, inplace=True)

In [40]:
x = pd.concat([x, pd.get_dummies(df['fuelType'], prefix='fuelType')], axis=1)
x.drop('fuelType', axis=1, inplace=True)

In [41]:
x = pd.concat([x, pd.get_dummies(df['brand'], prefix='brand')], axis=1)
x.drop('brand', axis=1, inplace=True)

In [44]:
x = pd.concat([x, pd.get_dummies(df['notRepairedDamage'], prefix='notRepairedDamage')], axis=1)
x.drop('notRepairedDamage', axis=1, inplace=True)

KeyError: "['notRepairedDamage'] not found in axis"

In [45]:
x

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,abtest_control,abtest_test,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,...,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein,notRepairedDamage_ja,notRepairedDamage_nein
0,480,1993,0,150000,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
1,18300,2011,190,125000,5,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,9800,2004,163,125000,8,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,1500,2001,75,150000,6,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,3600,2008,69,90000,7,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,2005,0,20000,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
371524,1199,2000,101,125000,3,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
371525,9200,1996,102,150000,3,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,1
371526,3400,2002,100,150000,6,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
371527,28990,2013,320,50000,8,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [43]:
previsores = x.iloc[:,1:318].values
preco_real = x.iloc[:,0].values

In [109]:
regressor = Sequential()
regressor.add(Dense(units=159, activation='relu', input_dim=316))
regressor.add(Dense(units=159, activation='relu'))
regressor.add(Dense(units=1, activation='linear')) # Regressão função linear por padrao a última camada sem o parâm. activation é linear
regressor.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [88]:
# Treinar a rede
regressor.fit(previsores, preco_real, batch_size=200, epochs=100)

Train on 359375 samples
Epoch 1/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2478.2176 - mean_absolute_error: 2478.2144
Epoch 2/100
359375/359375 [==============================] - 4s 12us/sample - loss: 2455.2129 - mean_absolute_error: 2455.2114
Epoch 3/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2444.8362 - mean_absolute_error: 2444.8337
Epoch 4/100
359375/359375 [==============================] - 4s 11us/sample - loss: 2433.2177 - mean_absolute_error: 2433.2158
Epoch 5/100
359375/359375 [==============================] - 4s 11us/sample - loss: 2412.0056 - mean_absolute_error: 2412.0078
Epoch 6/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2413.2052 - mean_absolute_error: 2413.2053
Epoch 7/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2401.2861 - mean_absolute_error: 2401.2861
Epoch 8/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2411.8750 - mean_absolute_error: 2411.8738
Epoch 9/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2390.9211 - mean_absolute_error: 2390.9211
Epoch 10/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2398.1890 - mean_absolute_error: 2398.1902
Epoch 11/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2382.9887 - mean_absolute_error: 2382.9890
Epoch 12/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2391.9564 - mean_absolute_error: 2391.9578
Epoch 13/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2380.8317 - mean_absolute_error: 2380.8318
Epoch 14/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2370.8721 - mean_absolute_error: 2370.8723
Epoch 15/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2374.8795 - mean_absolute_error: 2374.8789
Epoch 16/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2369.5132 - mean_absolute_error: 2369.5164
Epoch 17/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2366.0981 - mean_absolute_error: 2366.0967
Epoch 18/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2349.5842 - mean_absolute_error: 2349.5857
Epoch 19/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2341.9709 - mean_absolute_error: 2341.9722
Epoch 20/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2357.8801 - mean_absolute_error: 2357.8804
Epoch 21/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2351.4245 - mean_absolute_error: 2351.4246
Epoch 22/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2341.9198 - mean_absolute_error: 2341.9214
Epoch 23/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2348.5939 - mean_absolute_error: 2348.5964
Epoch 24/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2346.1296 - mean_absolute_error: 2346.1289
Epoch 25/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2332.8036 - mean_absolute_error: 2332.8037
Epoch 26/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2328.1488 - mean_absolute_error: 2328.1479
Epoch 27/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2331.3432 - mean_absolute_error: 2331.3425
Epoch 28/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2328.8102 - mean_absolute_error: 2328.8108
Epoch 29/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2326.4327 - mean_absolute_error: 2326.4324
Epoch 30/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2327.8879 - mean_absolute_error: 2327.8875
Epoch 31/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2319.2064 - mean_absolute_error: 2319.2075
Epoch 32/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2323.7663 - mean_absolute_error: 2323.7664
Epoch 33/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2318.4159 - mean_absolute_error: 2318.4163
Epoch 34/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2325.1363 - mean_absolute_error: 2325.1348
Epoch 35/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2317.6656 - mean_absolute_error: 2317.6663
Epoch 36/100
359375/359375 [==============================] - 3s 10us/sample - loss: 2308.3332 - mean_absolute_error: 2308.3323
Epoch 37/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2325.4062 - mean_absolute_error: 2325.4077
Epoch 38/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2311.7692 - mean_absolute_error: 2311.7683
Epoch 39/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2313.8048 - mean_absolute_error: 2313.8032
Epoch 40/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2306.8295 - mean_absolute_error: 2306.8301
Epoch 41/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2315.2594 - mean_absolute_error: 2315.2605
Epoch 42/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2301.6121 - mean_absolute_error: 2301.6096
Epoch 43/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2300.2554 - mean_absolute_error: 2300.2571
Epoch 44/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2305.8588 - mean_absolute_error: 2305.8596
Epoch 45/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2303.4954 - mean_absolute_error: 2303.4963
Epoch 46/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2302.2729 - mean_absolute_error: 2302.2717
Epoch 47/100
359375/359375 [==============================] - 4s 10us/sample - loss: 2294.8361 - mean_absolute_error: 2294.8386
Epoch 48/100
359375/359375 [==============================] - 4s 10us/sample - loss: 2289.6907 - mean_absolute_error: 2289.6912
Epoch 49/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2294.8793 - mean_absolute_error: 2294.8799
Epoch 50/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2296.2007 - mean_absolute_error: 2296.2014
Epoch 51/100
359375/359375 [==============================] - 4s 11us/sample - loss: 2297.3394 - mean_absolute_error: 2297.3376
Epoch 52/100
359375/359375 [==============================] - 4s 11us/sample - loss: 2284.8192 - mean_absolute_error: 2284.8186
Epoch 53/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2282.6165 - mean_absolute_error: 2282.6165
Epoch 54/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2287.6733 - mean_absolute_error: 2287.6714
Epoch 55/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2279.0979 - mean_absolute_error: 2279.0969
Epoch 56/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2291.6752 - mean_absolute_error: 2291.6760
Epoch 57/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2286.0616 - mean_absolute_error: 2286.0630
Epoch 58/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2296.5189 - mean_absolute_error: 2296.5181
Epoch 59/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2278.8199 - mean_absolute_error: 2278.8218
Epoch 60/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2286.2093 - mean_absolute_error: 2286.2075
Epoch 61/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2281.7275 - mean_absolute_error: 2281.7261
Epoch 62/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2281.0171 - mean_absolute_error: 2281.0166
Epoch 63/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2274.3548 - mean_absolute_error: 2274.3550
Epoch 64/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2286.4705 - mean_absolute_error: 2286.4705
Epoch 65/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2273.3094 - mean_absolute_error: 2273.3101
Epoch 66/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2272.9139 - mean_absolute_error: 2272.9153
Epoch 67/100
359375/359375 [==============================] - 4s 11us/sample - loss: 2271.2340 - mean_absolute_error: 2271.2366
Epoch 68/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2265.0256 - mean_absolute_error: 2265.0242
Epoch 69/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2268.6765 - mean_absolute_error: 2268.6743
Epoch 70/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2270.1290 - mean_absolute_error: 2270.1299
Epoch 71/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2260.3316 - mean_absolute_error: 2260.3333
Epoch 72/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2260.6979 - mean_absolute_error: 2260.6970
Epoch 73/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2262.0864 - mean_absolute_error: 2262.0864
Epoch 74/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2262.0436 - mean_absolute_error: 2262.0452
Epoch 75/100
359375/359375 [==============================] - 3s 10us/sample - loss: 2256.0264 - mean_absolute_error: 2256.0266
Epoch 76/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2265.9753 - mean_absolute_error: 2265.9753
Epoch 77/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2256.1201 - mean_absolute_error: 2256.1204
Epoch 78/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2268.0320 - mean_absolute_error: 2268.0310
Epoch 79/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2263.7529 - mean_absolute_error: 2263.7546
Epoch 80/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2258.6806 - mean_absolute_error: 2258.6831
Epoch 81/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2248.1986 - mean_absolute_error: 2248.1982
Epoch 82/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2255.8227 - mean_absolute_error: 2255.8235
Epoch 83/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2258.0582 - mean_absolute_error: 2258.0576
Epoch 84/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2248.3745 - mean_absolute_error: 2248.3728
Epoch 85/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2247.3225 - mean_absolute_error: 2247.3240
Epoch 86/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2247.8553 - mean_absolute_error: 2247.8569
Epoch 87/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2247.7285 - mean_absolute_error: 2247.7280
Epoch 88/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2247.0596 - mean_absolute_error: 2247.0596
Epoch 89/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2240.5592 - mean_absolute_error: 2240.5598
Epoch 90/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2245.7622 - mean_absolute_error: 2245.7617
Epoch 91/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2249.7195 - mean_absolute_error: 2249.7188
Epoch 92/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2239.0339 - mean_absolute_error: 2239.0322
Epoch 93/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2246.4381 - mean_absolute_error: 2246.4387
Epoch 94/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2234.8473 - mean_absolute_error: 2234.8472
Epoch 95/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2240.7290 - mean_absolute_error: 2240.7322
Epoch 96/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2237.2912 - mean_absolute_error: 2237.2910
Epoch 97/100
359375/359375 [==============================] - 3s 9us/sample - loss: 2242.8566 - mean_absolute_error: 2242.8560
Epoch 98/100
359375/359375 [==============================] - 4s 10us/sample - loss: 2238.5921 - mean_absolute_error: 2238.5901
Epoch 99/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2236.2569 - mean_absolute_error: 2236.2566
Epoch 100/100
359375/359375 [==============================] - 3s 8us/sample - loss: 2236.9407 - mean_absolute_error: 2236.9395

In [89]:
previsoes = regressor.predict(previsores)

In [90]:
previsores.mean()

404.58214932746284

In [91]:
preco_real.mean()

5915.453286956522

In [103]:
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor

In [110]:
model = KerasRegressor(regressor)

In [111]:
parametros = {'units':[159, 79]}

In [112]:
grid_search = GridSearchCV(estimator=model, param_grid=parametros,cv=5,scoring='neg_mean_absolute_error')

In [114]:
grid_search.fit(previsoes, preco_real, epochs=5)

TypeError: can't pickle _thread._local objects

In [107]:
grid_search.get_params()

{'cv': 5,
 'error_score': nan,
 'estimator__build_fn': <tensorflow.python.keras.engine.sequential.Sequential at 0x2b309091988>,
 'estimator': <tensorflow.python.keras.wrappers.scikit_learn.KerasRegressor at 0x2b3048e7208>,
 'iid': 'deprecated',
 'n_jobs': None,
 'param_grid': {'units': [159, 79]},
 'pre_dispatch': '2*n_jobs',
 'refit': True,
 'return_train_score': False,
 'scoring': 'neg_mean_absolute_error',
 'verbose': 0}